#closeFullscreenButton {
  position: fixed;
  top: 0;
  right: 0;
  background-color: lightcoral;
  border: 1px solid #9954bb;
  border-radius: 2px;
  color: white;
  margin: 10px;
}

#fullscreenContainer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  border: 1px solid #9954bb;
  z-index: 1;
}

.button {
  background-color: lightcoral;
  border: 1px solid #9954bb;
  border-radius: 2px;
  color: white;
  margin: 10px;
}

#centerDots {
  text-align: center;
  width: 100%;
}

#carouselContainer {
  height: 300px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrowButton {
  color: lightcoral;
  border: 1px solid #9954bb;
  background-color: white;
  font-size: x-large;
  border: none;
}

.graphImage {
  width: 80%;
}