/* Any additions here will need to go into the unified sylesheet when merged with the Style branch */

.dot {
    height: 25px;
    width: 25px;
    background-color: rgb(39, 232, 51);
    border-radius: 50%;
    display: inline-block;
}

.overviewSymptom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.overviewSymptomTextContainer {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@media only screen and (max-width: 1000px) {
    .overviewSymptomTextContainer {
        align-items: center;
    }
  }