#table {
  margin-top: 20px;
  display: block;
  border-collapse: collapse;
  height: 100px;
  margin: 50px;
  min-width: 250px;
  overflow: auto;
}

#table th {
  white-space: nowrap;
}

#table td {
  height: 20px;
}

.tableHeader {
  margin-top: -20px;
  position: absolute;
}
